* {
    box-sizing: border-box;
}

.else {
    display: grid;
    grid-template-columns : 1fr 1fr 1fr 1fr;

}
body {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;

}
footer{
    padding: 24px 0px 24px 0px ;

}
img{
    padding-top: 0.5px;
    height: 200px;
}
nav{
   border-bottom: 1px;
   padding: 16px 16px 16px 16px;
    border-bottom: solid ;
}
/* div{
    padding-bottom:50px ;
} */
main{
    padding: 16px 16px 16px 16px;
}

.background{
    background-color: orangered;

}
.text{
    color: white;
}
/* .layout{
    display: grid;
    grid-template-columns: 4;
} */
a{
    text-decoration: none;
    color: greenyellow;
}
footer{
    background-color:lightgreen ;
    font-size: 15px;
    padding-left: 15px;
    margin-bottom: 0;
    position: fixed;
    bottom:0 ;
    right:0 ;
    left: 0;

}
tr:nth-child(even){
background-color: lightgray;
}